.header {
  margin-top: 100px;
  height: calc(100vh - 100px);
  background-color: $bgcNavDefault;
  background-image: url('../images/coffee_header_400-640.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;

  @include mediaQueries(smartphone-large, landscape) {
    background-image: url('../images/coffee_header_1200x600.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  @include mediaQueries(tablet-large, landscape) {
    background-image: url('../images/coffee_header_1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__slogan {
    position: absolute;
    top: calc(100px + 5%);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    color: white;

    @include mediaQueries(smartphone-large, landscape) {
      left: 83%;
      top: calc(100px + 5%);
      width: 35%;
    }

    @include mediaQueries(tablet-large, landscape) {
      left: 50%;
      width: 100%;
    }

    & i {
      position: relative;
      top: -5px;
      height: rem;
      line-height: 1rem;
      font-size: 0.5rem;

      @include mediaQueries(tablet-small, portrait) {
        top: -10px;
        font-size: 0.8rem;
      }

      @include mediaQueries(desktop-small, landscape) {
        top: -7.5px;
        font-size: 0.8rem;
      }

      @include mediaQueries(desktop-medium, landscape) {
        top: -15px;
        font-size: 1.1rem;
      }
    }

    & h1 {
      @include mediaQueries(tablet-small, portrait) {
        font-size: 3.5rem;
      }

      @include mediaQueries(tablet-large, landscape) {
        font-size: 2.5rem;
      }

      @include mediaQueries(desktop-small, landscape) {
        font-size: 3.5rem;
      }

      @include mediaQueries(desktop-medium, landscape) {
        font-size: 5rem;
      }
    }

    & h2:nth-of-type(1) {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;

      @include mediaQueries(smartphone-large, landscape) {
        text-shadow: 1px 1px #000;
        font-size: 1rem;
      }

      @include mediaQueries(tablet-small, portrait) {
        font-size: 2.5rem;
      }

      @include mediaQueries(tablet-medium, landscape) {
        font-size: 1.2rem;
      }

      @include mediaQueries(tablet-large, landscape) {
        font-size: 1.5rem;
      }

      @include mediaQueries(desktop-small, landscape) {
        font-size: 2rem;
      }

      @include mediaQueries(desktop-medium, landscape) {
        font-size: 3.5rem;
      }
    }

    & h2:nth-of-type(2) {
      font-size: 1.2rem;
      font-weight: 400;
      font-style: italic;
      font-family: 'Merriweather', sans-serif;

      @include mediaQueries(smartphone-large, landscape) {
        text-shadow: 1px 1px #000;
        font-size: 1rem;
      }

      @include mediaQueries(tablet-small, portrait) {
        font-size: 1.8rem;
      }

      @include mediaQueries(tablet-medium, landscape) {
        font-size: 1.2rem;
      }

      @include mediaQueries(desktop-small, landscape) {
        font-size: 1.7rem;
      }

      @include mediaQueries(desktop-medium, landscape) {
        font-size: 2.5rem;
      }
    }
  }

  &__infos {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: calc(100vh - 100px);
    transition: 1s;

    @include mediaQueries(tablet-large, landscape) {
      justify-content: center;
    }

    &__move {
      position: relative;
      width: 10%;
      z-index: 3;

      &:nth-child(1) {
        left: 1%;
        border-right: 40px solid rgba(150, 150, 150, 0.5);
      }

      &:nth-child(2) {
        right: 1%;
        border-left: 40px solid rgba(150, 150, 150, 0.5);
      }

      @include mediaQueries(smartphone-large, landscape) {

        &:nth-child(1) {
          left: 3%;
        }

        &:nth-child(2) {
          right: 3%;
        }
      }

      @include mediaQueries(tablet-small, portrait) {
        &:nth-child(1) {
          left: 8%;
        }

        &:nth-child(2) {
          right: 8%;
        }
      }

      @include mediaQueries(tablet-large, landscape) {
        display: none;
      }
    }
  }

  &__info {
    position: absolute;
    width: 100%;
    min-height: 50px;
    padding: 10px 0 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgba($color: white, $alpha: 0.8);
    box-shadow: 0 0 5px 5px rgba($color: white, $alpha: 0.8);
    opacity: 0;
    transition: 1s;

    @include mediaQueries(smartphone-large, landscape) {
      width: 90%;
      margin-left: 5%;
    }

    @include mediaQueries(tablet-small, portrait) {
      width: 80%;
      margin-left: 10%;
    }

    @include mediaQueries(tablet-large, landscape) {
      position: static;
      max-width: calc(1280px / 3);
      width: calc((100% - 10%)/ 3);
      margin: 0;
      opacity: 1;

      &:nth-of-type(1) {
        border-top-left-radius: 20px;
        border-top-right-radius: 0px;
      }

      &:nth-of-type(2) {
        background-color: rgba($color: rgb(226, 226, 226), $alpha: 0.9);
        box-shadow: 0 0 5px 5px rgba($color: rgb(226, 226, 226), $alpha: 0.9);
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        z-index: 1;
      }

      &:nth-of-type(3) {
        border-top-right-radius: 20px;
        border-top-left-radius: 0px;
      }
    }

    &__title {
      width: 100%;
      text-align: center;
      line-height: 3rem;
      font-size: 1.5rem;
      font-family: 'Roboto', sans-serif;

      @include mediaQueries(smartphone-large, landscape) {
        font-size: 1.5rem;
        line-height: 2.5rem;
      }

      @include mediaQueries(smartphone, portrait) {
        font-size: 1.8rem;
      }

      @include mediaQueries(tablet-small, landscape) {
        font-size: 1.6rem;
      }

      @include mediaQueries(tablet-large, landscape) {
        line-height: 2.5rem;
      }

      @include mediaQueries(tablet-medium, portrait) {
        font-size: 2.8rem;
        line-height: 4rem;
      }

      @include mediaQueries(desktop-small, landscape) {
        font-size: 1.8rem;
      }
    }

    &__content {
      padding-left: 15%;
      padding-right: 15%;
      text-align: center;
      font-size: 1.2rem;
      font-family: 'Roboto', sans-serif;

      @include mediaQueries(smartphone, portrait) {
        font-size: 1.4rem;
      }

      @include mediaQueries(smartphone-large, landscape) {
        font-size: 1rem;
        padding-left: 10%;
        padding-right: 10%;
      }

      @include mediaQueries(tablet-small, portrait) {
        font-size: 1.7rem;
      }

      @include mediaQueries(tablet-small, landscape) {
        font-size: 1.15rem;
      }

      @include mediaQueries(tablet-medium, portrait) {
        font-size: 1.9rem;
      }

      @include mediaQueries(tablet-medium, landscape) {
        font-size: 1.3rem;
      }

      @include mediaQueries(desktop-small, landscape) {
        font-size: 1.4rem;
      }
    }
  }
}